@using AuctionHouse.Messages.Queries.Auctions
<div class="page-header">
	<h3>My auctions</h3>
</div>
<form class="form-inline panel panel-default panel-body">
	<div class="form-group">
		<select ng-model="$ctrl.userInvolvementIntoAuction" class="form-control">
			<option value="@UserInvolvementIntoAuction.Selling">Selling</option>
			<option value="@UserInvolvementIntoAuction.Sold">Sold</option>
			<option value="@UserInvolvementIntoAuction.FailedToSell">Failed to sell</option>
			<option value="@UserInvolvementIntoAuction.Bidding">Bidding</option>
			<option value="@UserInvolvementIntoAuction.Bought">Bought</option>
			<option value="@UserInvolvementIntoAuction.FailedToBuy">Failed to buy</option>
		</select>
	</div>
	<div class="form-group">
		<input ng-model="$ctrl.queryString" type="text" class="form-control" placeholder="Query string">
	</div>
	<button type="submit" class="btn btn-primary" uib-tooltip="Search" ng-click="$ctrl.search()">
		<span class="glyphicon glyphicon-search"></span>
	</button>
</form>
<auctions-list get-auctions="$ctrl.getAuctions" on-reload-function-changed="$ctrl.setReloadFunction(reloadFunction)" 
			   displayed-columns="$ctrl.displayedColumns"></auctions-list>