<!DOCTYPE html>
<html lang="en" ng-app="auctionHouse">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "HelpPage" }, null)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div>
            <button id="send-command">Send cmd</button>
            <button id="send-query">Send query</button>
            <div ng-controller="CreateAuctionCtrl as createAuctionCtrl">
                <form ng-submit="vm.submit()" name="createAuctionCtrl.form" novalidate>
                    <formly-form model="createAuctionCtrl.model" fields="createAuctionCtrl.fields" form="createAuctionCtrl.form">
                        <button type="submit" class="btn btn-primary submit-button" ng-disabled="createAuctionCtrl.form.$invalid">Submit</button>
                    </formly-form>
                </form>
            </div>
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/app")
<script type="text/javascript">
    $(document).ready(function() {
        $('#send-command')
            .click(function() {
                $.post('api/CreateAuctionCommand/Handle');
            });

        $('#send-query')
                .click(function () {
                    $.get('api/TestQuery/Handle', null, function(data) {
                        alert(data);
                    });
                });
    })
</script>
</body>
</html>